html, body, div, figure, figcaption, section, article, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	text-decoration: none;
}

a:link,
button {
	text-decoration: none;
	color: #777;
	-webkit-transition: all 0.5s;
}

a:visited {
	text-decoration: none;
	color: #777; 
}

a:hover {
	text-decoration: none;
	color: #2c2a2a;
}

a:active {
	text-decoration: none;
} 

div {
	height: auto;
	font-family: Nexa,"Berthold Akzidenz Grotesk BE", Helvetica, verdana, "sans-serif";
}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
 	box-sizing: border-box;         /* Opera/IE 8+ */
}

@font-face {
    font-family: Nexa;
    src: url(../fonts/NexaBold.woff);
}

body {
	background: none repeat scroll 0 0 #ccc;
}

.grid-panel {
	position: relative;

	figure {
		position: relative;
		height: 320px;
		transform: translateY(90px);
		transition: transform 0.3s;

		@media screen and (max-width: 1024px) {
			bottom: 10px;
			transform: none;
		}

		img {
			height:auto;
			display: block;
			position: relative;
			transition: transform 0.4s;
			transform: translate(-50%, 0);
			left: 50%;
			bottom: 90px;

			@media screen and (max-width: 1024px) {
				width: 600px;
			}
		}
	}

	figcaption {
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 20px;
		background: #1e1c1c;
		color: #ed4e6e;
		display: flex;
		align-items: center;
		height: 100px;
		width: 101%;

		h2 {
			color: #fff;
			max-width:44%;
		}

		a {
			text-align: center;
			padding: 5px 10px;
			border-radius: 2px;
			display: inline-block;
			background: #ed4e6e;
			color: #fff;
		}
	}

	 > a {
		display: block;
		overflow: hidden;
	}

	> a:hover > figure{
		transform: translateY(-10px);

		@media screen and (max-width: 1024px) {
			transform: none;
		}
	}
}

[class*='grid-'] {
  margin-top: 10px;
}

.grid-d-4 {
	overflow:hidden;
	height:320px;
}

.view {
	float: right;
	margin: 0px 30px;
	border: 2px solid;
	border-color:rgba(255,255,255,0.4);
	padding: 10px 30px;
	color: #fff;
	transition: all 1s ease;
	margin-left: auto;

	&:hover {
		border-color:rgba(255,255,255,1);
	}
}

#wrapper {
	margin: 0 auto;
	width: 100%;
	height: auto;
	overflow: hidden;
	position:relative;
}

header {
	margin:0 auto;
	overflow: hidden;
	padding: 35px 0 18px 0;
	margin-bottom: 20px;
	color:#777;

	@media screen and (max-width: 460px) {
		padding-top: 0;

		.grid-d-12 {
			padding-top: 0;
	    	margin-top: 0;
		}

		&.open-nav nav {
			margin-top: 20px;
		}
	}
}

#logo {
	a {
		float: left;

		&:hover h1 {
			color: #333;
			-webkit-transition: all 0.5s;
		}
	}

	h1, 
	h2 {
		float:left;
		font-size: 1.2em;
		color: #777;
		font-weight:normal;
		font-family: Nexa,"Berthold Akzidenz Grotesk BE", Helvetica, verdana, "sans-serif";
	}

	h1 {
		margin-right:6px;

		@media screen and (max-width: 460px) {
			font-size: 1.1em;
			width: 160px;
		}
	}
}

.mobile-nav-link {
	display: none;

	@media screen and (max-width: 460px) {
		display: block;
		margin-left: auto;
		padding-top: 4px;
		width: 40px;
		height: 24px;
		border-top: 5px solid #777;
		position: relative;
		z-index: 1;
		cursor: pointer;
		background: none;
		outline: none;

		&::before,
		&::after {
			content: "";
			display: block;
			border-top: 5px solid #777;
		}

		&::before {
			padding-bottom: 4px;
		}
    }
}

nav {
	float:right;
	font-weight: normal;
	font-family: Nexa,"Berthold Akzidenz Grotesk BE", Helvetica, verdana, "sans-serif";

	@media screen and (max-width: 900px) {
		width: 100%;
	    margin-top: 20px;
	}

	@media screen and (max-width: 460px) {
		margin-top: -100px;
		transition: margin 700ms;
	}

	li {
		display: inline;
		font-size: 18px;
		color:#777;
		cursor: pointer;
		border-right: 1px solid #929292;
		padding-right: 22px;
		margin-right: 18px;
		color:#777;
		transition: all 1s ease;

		&:last-child {
			border-right: none;
			margin-right:0;
			padding-right:0;
		}

		@media screen and (max-width: 460px) {
			display: inline-block;
			width: 48%;
			margin: 0;
		    border-right: 0;
		    padding: 0;
		    border-bottom: 2px solid #999;
		    transition: none;
		    line-height: 1;

			&:nth-child(odd) {
				margin-right: 4%;
			}

			a {
				display: block;
				padding: 12px 0 10px 0;
			}
		}
	}

	a:hover {
		color: #2c2a2a;
	}

	.active {
		font-family: Nexa,"Berthold Akzidenz Grotesk BE", Helvetica, verdana, "sans-serif";
		color: #2c2a2a;
		font-weight: 500;  
	}
}

#content, header {
	width: 80%;
	max-width: 1800px;
    margin: 0 auto;
    overflow: hidden;
}

#sub-content {
	max-width: 80%;
	width: 940px;
	margin: 0 auto;
	overflow: auto;

	* {
		color: #777;
	}

	h2,
	p {
		text-align: center;
		margin: 0 auto 20px;
	}

	h2 {
		font-size: 40px;

		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
	}

	p {
		font-size: 18px;
	    line-height: 1.3;
	}

	img {
		display: block;
		margin: 0 auto 40px;
		width: 100%;

		@media screen and (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	video {
		margin: 20px auto 40px;
		display: inline-block;
		width: 940px;
		max-width: 100%;
		outline-width: 0;
	}

	.detail-link {
		display: block;
		text-align: center;
		margin-bottom: 40px;
	}

	a:hover {
		color: #2c2a2a;
	}
}

.about .grid-d-12 {
	a {
		text-decoration: underline;
	}

	> a {
		text-align: center;
		display: block;

		&:first-of-type {
			margin-bottom: 10px;
		}
	}
}

.grid-item {
	width:30%;
	height: 320px;
	position: relative;
	float:left;
	overflow:hidden;
	margin:0 3% 3% 0;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(197, 197, 197, .5);
	-moz-box-shadow:    1px 1px 1px 1px rgba(197, 197, 197, .5);
	box-shadow:         1px 1px 1px 1px rgba(197, 197, 197, .5);
}

footer {
	width: 100%;
	padding: 20px 0;
	font-family: Nexa,"Berthold Akzidenz Grotesk BE", Helvetica, verdana, "sans-serif";
	float:left;
	font-size: 1.2em;

	ul {
		list-style-type: none;
		max-width: 80%;
		margin:0 auto;
	}

	li {
		float: left;
		display: inline;
		padding: 5px 10px 0 0;
		color: #777;
		font-size: 16px;
	}

	a{
		color: #777;

		&:hover {
			color:#333;
			-webkit-transition: all 0.5s;
		}
	}
}

#email {
	width: 100%;
	float: left;
	clear: both;
}

#footer-name {
	width: auto;
	clear: left;
}

.not-found-bg {
	background: url(/images/concrete-seamless.png) left top / 400px 400px repeat;

	@media (max-width: 460px) {
		background: #ccc;
	}
}

#not-found {
	max-width: 80%;
	margin: 0 auto;

	img {
		width: 1000px;
		max-width: 80%;
		margin: 0 auto;
		display: block;
	}

	h3, 
	h2 {
		color: #777;
		text-align: center;
	}

	h2 {
		font-size: 80px;
		margin-top: 10px;

		@media (max-width: 767px) {
    		font-size: 60px;
    	}
	}

	h3 {
		font-size: 20px;
    	margin-top: 60px;

    	@media (max-width: 767px) {
    		font-size: 16px;
    		margin-top: 20px;
    	}
	}
}

@media screen and (max-width: 460px) {
	.top-header {
		width: 100%;
		padding-top: 40px;
		display: flex;
		align-items: center;
		background-color: #ccc;
		position: relative;
		z-index: 2;
	}

	.open-nav .mobile-nav-link,
	.open-nav .mobile-nav-link::after {
		border-color: #ccc;
	}
}

